@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    width: 90%;
	position: relative;
}
header nav {
    width: 25%;
}
header ul {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-right: 35px;
}
header h1 {
    font-size: 40px;
    margin-left: 40px;
}

/* メニューホバー */
ul > li{
	display: inline-block;
}
ul > li > a{
	padding: 15px 30px;
	display: block;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: .2em;
}
ul > li > span{
	margin-left: 1.2em;
}
ul > li:hover > a{
	color: #444;
}
.menu a {
    color: rgb(113, 113, 113);
}

/* Submenu */

ul li ul{
	position: absolute;
    top: 73px;
}
ul li ul li{
	display: block;
}
ul li ul li a{
	background-color: #efefef;
    color: #444;
    font-size: 15px;
}
ul li ul li a:hover{
	background-color: #ddd;
}
/* ホバーアニメーション */
.menu ul li ul{
	display: none;
}
.menu ul li:hover ul{
	display: block;
}
/* ↑  メニューホバーはここまで */


main {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/IMG_1659.JPG);
    height: 600px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main h1 {
    font-size: 50px;
}
.btn-group {
    text-align: center;
}
main .btn-group {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
    margin-top: 85px;
}
main button {
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 15px;
    border: 3px solid yellow;
}
main .btn-left:hover {
    background-color: rgb(255, 162, 0);
    color: white; 
}
main .btn-right:hover {
    background-color: rgb(5, 181, 31);
    color: white;
}

.about-IT {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}
.about-IT p {
    width: 90%;
    margin: 0 auto;
    border: 3px dashed brown;
    padding: 15px;
    margin-top: 10px;
}


section ul {
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}
section li {
    width: 50%;
    text-align: center;
}
section img {
    height: 243px;
    width: 80%;
    cursor: pointer;
}
section p {
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: 30px;
}
a {
    text-decoration: none;
}
/* オーバーレイ */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    position: relative;
    height: 300px;
    width: 80%;
    margin: 20px auto;
}
.overlay1 {
    background: url(../img/web.JPG) no-repeat 0 0/cover;
}
.overlay2 {
    background: url(../img/information.JPG) no-repeat 0 0/cover;
}
.overlay3 {
    background: url(../img/software.JPG) no-repeat 0 0/cover;
}
.overlay4 {
    background: url(../img/hardware.JPG) no-repeat 0 0/cover;
}
section a {
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    }
.box:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    }
    /* ↑ ここまでがオーバーレイ */
    
.contants {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 40px;
    }
.contants h1 {
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    width: 40%;
    }
.contants h2 {
    font-size: 20px;
    background-color: rgb(255, 93, 93);
    width: 25%;
    margin-top: 8px;
}
.contants span {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer p {
    margin-right: 30px;
}

@media screen and (max-width:700px){
    /* ハンバーガーやりたい */
    main button {
        margin: 0px 10px;
    }
    .menu {
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
        cursor: pointer;
    }
    .menu span,.menu span::before,
    .menu span::after {
        background-color:gray;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        display: block; 
        position: relative;
        transition: 1s;
    
    }
    
    .menu span::before {
        display: block;
        position: absolute;
        content: '';
        top: -9px;
    }
    .menu span::after {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
    }
    /* ハンバーガーここまで */
    
    section ul {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    section li {
        width: 100%;
    }
    .contants h1 {
        width: 100%;
    }
    .contants h2 {
        width: 80%;
    }
    


} 